

/* global  */
body {
  min-height: 100vh;
  background: #f6f8fa;
}

.wrapper {
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

:root {
  --primary-color: #ac3125;
}

/*------------------ */

/* header */
.header {
  background-color: var(--primary-color);
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 65px;
}

.header-logo {
  font-size: 40px;
  font-weight: 600;
}

.header-list {
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 53px;
}

.header-link {
  color: #fff;
}

/* container */

main {
  padding: 30px 150px;
}

.container {
  padding: 50px;
  background: #fff;
  border: 1px solid #e7e9ec;
}

.container-search {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  font-size: 25px;
  font-weight: 500;
}

.search {
  display: block;
  padding: 5px 30px;
  border: 1px solid #e7e9ec;
  border-radius: 5px;
  background-color: #f8eded;
  font-size: 15px;
  min-width: 340px;
  margin-bottom: 10px;
}

.filter {
  background-color: #f6f8fa;
  padding: 3px 30px;
  min-width: 470px;
  border: 1px solid #e7e9ec;
  border-radius: 5px;
  cursor: pointer;
}

table {
  min-width: 100%;
}

.table-title {
  background-color: #f8eded;
  color: #616c82;
}

.table-title th {
  padding: 12px 0;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}

.table-item {
  color: #313437;
  text-transform: uppercase;
}

table .table-item:nth-child(2) td {
  padding-top: 10px;
}

.table-item td {
  padding-bottom: 10px;
}

.table-item td {
  text-align: center;
  overflow: visible;
  font-size: 18px;
}

.table-item td:nth-child(2),
.table-item td:nth-child(3),
.table-item td:last-child {
  color: var(--primary-color);
}

.icon--filter {
  font-size: 15px;
  cursor: pointer;
}

.table-icon--code {
  font-size: 18px;
  background-color: var(--primary-color);
  padding: 4px;
  border-radius: 3px;
  color: #fff;
  margin: 0 10px;
}

.toggle {
  display: none;
  font-size: 30px;
}



@media screen and (max-width: 1023.98px) {
  main {
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-list {
    /* display: block; */
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
    flex-direction: column;
    z-index: 9;
    margin: 0;
    padding: 20px 0;
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateX(100%);
  }
  .header-link {
    color: #333;
    display: block;
    padding: 10px;
  }
  .toggle {
    display: block;
  }
  .container-search {
    display: block;
  }
  .search,
  .filter {
    min-width: auto;
  }
}


@media screen and (max-width: 767.98px) {
  .container {
    padding: 20px;
  }
	
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

  /* scrollbar */
  tbody {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    grid-gap: 0 25px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    grid-template-columns: unset;
    }
    tbody::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    tbody > *{
      scroll-snap-align: start;
    }
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-title { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
  .table-item {
    margin-bottom: 10px;
  }

	.table-item td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
    padding-bottom: 10px;
    padding-top: 10px;
	}
	
	td:before { 
		position: absolute;
		top: 50%;
		left: 6px;
		width: 45%; 
    transform: translateY(-50%);
		padding-right: 10px; 
		white-space: nowrap;
    background-color: #f8eded;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "STT"; }
	td:nth-of-type(2):before { content: "Mã"; }
	td:nth-of-type(3):before { content: "Tiêu đề"; }
	td:nth-of-type(4):before { content: "Nhóm"; }
	td:nth-of-type(5):before { content: "Chủ đề con"; }
	td:nth-of-type(6):before { content: "Độ khó"; }
	td:nth-of-type(7):before { content: "Làm đúng"; }
}





